In [2]:
import sklearn
print(sklearn.__version__)

1.7.1

In [4]:
!pip install catboost

Collecting catboost
  Using cached catboost-1.2.8-cp312-cp312-win_amd64.whl.metadata (1.5 kB)
Collecting graphviz (from catboost)
  Using cached graphviz-0.21-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: matplotlib in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from catboost) (3.10.1)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from catboost) (2.2.2)
Requirement already satisfied: pandas>=0.24 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from catboost) (1.16.0)
Collecting plotly (from catboost)
  Using cached plotly-6.2.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: six in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from matplotlib->catboost) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from matplotlib->catboost) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from matplotlib->catboost) (3.2.1)
Collecting narwhals>=1.15.1 (from plotly->catboost)
  Downloading narwhals-2.0.1-py3-none-any.whl.metadata (11 kB)
Using cached catboost-1.2.8-cp312-cp312-win_amd64.whl (102.4 MB)
Using cached graphviz-0.21-py3-none-any.whl (47 kB)
Using cached plotly-6.2.0-py3-none-any.whl (9.6 MB)
Downloading narwhals-2.0.1-py3-none-any.whl (385 kB)
Installing collected packages: narwhals, graphviz, plotly, catboost
Successfully installed catboost-1.2.8 graphviz-0.21 narwhals-2.0.1 plotly-6.2.0

In [6]:
!pip install xgboost

Collecting xgboost
  Using cached xgboost-3.0.3-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from xgboost) (2.2.2)
Requirement already satisfied: scipy in c:\users\prajw\anaconda3\envs\venv\lib\site-packages (from xgboost) (1.16.0)
Using cached xgboost-3.0.3-py3-none-win_amd64.whl (149.9 MB)
Installing collected packages: xgboost
Successfully installed xgboost-3.0.3

In [7]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
#modeling 

from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [8]:
df=pd.read_csv(r'C:\Users\prajw\OneDrive\Desktop\mlproject01\notebook\data\StudentsPerformance.csv')

In [9]:
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [10]:
x=df.drop(columns=['math score'],axis=1)

In [12]:
x.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 7 columns]

In [13]:
y=df['math score']

In [14]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

##########cretae a column transformer

In [28]:
numerical_feature=[feature for feature in x.columns if x[feature].dtype!="object"]
categorical_feature=[feature for feature in x.columns if x[feature].dtype=="object"]


from sklearn.preprocessing import OneHotEncoder,StandardScaler

numeric_transformer=StandardScaler()
categorical_transformer=OneHotEncoder()

from sklearn.compose import ColumnTransformer
preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",categorical_transformer,categorical_feature),
        ("StandardScaler",numeric_transformer,numerical_feature)
    ]
)

In [29]:
X=preprocessor.fit_transform(x)

In [30]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]], shape=(1000, 19))

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [34]:
x_train.shape,x_test.shape

((750, 7), (250, 7))